title { 
  background-image: url("https://unsplash.com/photos/xUpbQ9GX7SQ");
  text-align: centre; 
  text-color: white;
      }
body{
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>
</body>
</html>
